[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "overturemapsr"]
	path = overturemapsr
	url = https://github.com/denironyx/overturemapsr
[submodule "tidycountries"]
	path = tidycountries
	url = https://github.com/denironyx/tidycountries
